.schedule {
    
}
.work_per_day {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
.day_name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.day {
    width: 100px;
    height: fit-content;
    background-color: aquamarine;
}

.hour_per_day {
    height: 400px;
}